
*{
    margin: auto;
    margin-top: 3%;
}



.visage {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 300px;
    border-color: black;
    border: 3px solid;
    z-index: 0;
}

.gauche {
    width: 170px;
    height: 170px;
    border-radius: 130px;
    border-color: black;
    border: 40px solid;
    margin-right: 130px;

}

.droite {
    width: 170px;
    height: 170px;
    border-radius: 130px;
    border-color: black;
    border: 40px solid;
    
}

.oreilles {
    display: flex;
    position: absolute;
    bottom: 60%;
    left: 28%;
    z-index: -1;
}

.cernes1 {
    width: 160px;
	height:250px;
    border-radius:80px / 125px;
    background-color: black;
    transform: rotate(15deg);
    margin-right: 90px;
}

.cernes2 {
    width: 160px;
	height:250px;
    border-radius:80px / 125px;
    background-color: black;
    transform: rotate(-15deg);
}

.yeux {
    display: flex;
    position: absolute;
    bottom: 44%;
    left: 36%;
}

.pupille1 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    margin-right: 180px;

    
    border-color: black;
    border: 3px solid;
    

}

.pupille2 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    
    border-color: black;
    border: 3px solid;
    
}

.pupilles {
    display: flex;
    position: absolute;
    bottom: 55%;
    left: 40%;
   

}

.paupiere1 {
    position: absolute;
    width: 100px;
    height: 70px;
    border-radius: 50px 50px 0 0;
    background-color: rgb(70, 70, 70);
    bottom: 65%;
    left: 38.5%;
    
}


.paupiere2 {
    position: absolute;
    width: 100px;
    height: 70px;
    border-radius: 50px 50px 0 0;
    background-color: rgb(70, 70, 70);
    bottom: 65%;
    left: 54.5%;

    animation: mov 0.8s linear infinite;
    
}


.nez {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 30px solid black;
    border-radius: 30px;
    transform: rotate(180deg);
    bottom: 40%;
    left: 47.5%;
    
}

.bouche {
    position: absolute;
    width: 210px;
    height: 50px; 
    background-color: white;
    border-top-left-radius: 160px;  
    border-top-right-radius: 160px; 
    border: 10px solid black;
    border-bottom: 0;
    transform: rotate(180deg);
    bottom : 28%;
    left: 42.5%;
    z-index: 1;
}

.langue {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #F39BC5;
    bottom: 26%;
    left: 54%;
    z-index: 0;

    animation: tongue 1.5s linear infinite;
     
}

@keyframes tongue {
    from {
        bottom: 26%;
        left: 55%;
    }
  
    to {
      bottom: 29.3%;
      left: 56%;
    }
  }


@keyframes mov {
    from {
        bottom: 65%;
    }

    to {
        bottom: 54%;
    }
    
}